<section>
    <div class="container-fluid bg-primary text-white text-center p-3" style="margin-top: 150px;">
        <div class="row">
            <div class="col mb-3 mt-2">
                <p class="mb-0">&copy; 2025 Mr Phone Kramat.</p>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p class="m-1"><i class="fa-brands fa-whatsapp"></i> +6287880772495</p>
                    <p class="m-1"><i class="fa-brands fa-facebook"></i> Mr Phone Kramat</p>
                    <p class="m-1"><i class="fa-brands fa-instagram"></i> Mr Phone Kramat</p>
                </div>
            </div>
        </div>
    </div>
</section>