<nav class="navbar navbar-expand-lg bg-primary" style="display: flex; position: fixed; right: 0; left: 0; top: 0; z-index: 1;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-light ms-3" href="/">
      <!-- <img src="https://webstockreview.net/images/cellphone-clipart-icon-4.png" alt="Logo" width="30"class="d-inline-block align-text-top"> -->
      MrPhone
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-light" href="/about">About</a>
        </li>
        {% if session.get('admin') %}
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle text-light" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="productDropdown">
              <li>
                <a class="dropdown-item" href="/product">Product</a>
              </li>
              <li>
                <a class="dropdown-item" href="/add-product">Add Product</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item me-3">
            <a class="nav-link text-light" href="/product">Product</a>
          </li>  
        {% endif %}
        {% if session.get('admin')%}
          <div class="me-3">
            <a class="btn btn-outline-danger text-light" href="/logout" role="button">Logout</a>
          </div>        
        {% else %}
          <div class="me-3">
            <a class="btn btn-outline-success text-light" href="/login" role="button">Login</a>
          </div>        
        {% endif %}
      </ul>
    </div>
  </div>
</nav>