<header>
  <nav class="navbar navbar-expand-lg bg-primary" style="display: flex; position: fixed; right: 0; left: 0; top: 0; z-index: 1;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-light ms-3" href="#">
        <!-- <img src="https://webstockreview.net/images/cellphone-clipart-icon-4.png" alt="Logo" width="30"class="d-inline-block align-text-top"> -->
        MrPhone
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-light" href="#">About</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-light" href="#">Product</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-light" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>