<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-5">Layanan Kami</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col-2">No</th>
                        <th scope="col-3">Layanan</th>
                        <th scope="col-5">Deksripsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Penjualan Handphone Baru</td>
                        <td>Menyediakan berbagai merek dan model smartphone terbaru seperti 
                            Apple, Samsung, Xiaomi, Oppo, Vivo, dll.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Garansi Resmi dan Perpanjangan Garansi</td>
                        <td>Menjamin semua produk yang dijual bergaransi resmi.
                            Menawarkan opsi untuk perpanjangan garansi sesuai kebutuhan.</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Trade-In (Tukar Tambah)</td>
                        <td>Pelanggan dapat menukar smartphone lama dengan yang baru dengan harga diskon.</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Promo dan Diskon Khusus</td>
                        <td>Diskon khusus untuk pembelian pertama, pelanggan setia, atau saat momen tertentu (e.g., Harbolnas, Black Friday).</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>