{% extends 'layouts/base.html' %}
{% block content %}
<section>
    <div class="container" style="margin-top: 150px;">
        <div class="row">
            <div class="col-12 col-md-8 d-flex align-items-center justify-content-between">
                <h3 class="text-dark">Hasil Pencarian "{{ keyword }}"</h3>
            </div>
            <div class="col-12 col-md-4"> 
                <form action="/search" method="get" class="d-flex me-3" role="search">
                    <input class="form-control me-2" type="search" name="keyword" placeholder="Search Product" value="{{ request.args.get('keyword', '') }}" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <hr style="color: dark;">
    </div>
</section>
<section>
    {% if produk %}
        {%include 'layouts/component/card.html'%}
    {% else %}
    <div class="container">
        <p class="text-muted">Produk "{{ keyword }}" Tidak Ditemukan.</p>
    </div>
    {% endif %}
</section>
{% endblock %}